<mat-nav-list>
  <form (ngSubmit)="download()" #torrentDownloadForm="ngForm">
    <div mat-list-item fxLayout="row">
      <mat-form-field fxFill>
        <input matInput required minlength="1" placeholder="Magnet Link" [(ngModel)]="torrent.magnetLink"
               name="magnetLink" #magnetLink="ngModel">
      </mat-form-field>
    </div>
    <div mat-list-item fxLayout="row">
      <mat-form-field fxFill>
        <input matInput required minlength="1" placeholder="Download folder" [(ngModel)]="torrent.downloadFolder"
               name="downloadFolder" #downloadFolder="ngModel"/>
      </mat-form-field>
    </div>
    <div mat-list-item>
      <button mat-raised-button color="primary" type="submit" [disabled]="!torrentDownloadForm.form.valid">Download</button>
    </div>
  </form>
</mat-nav-list>
