html, body {
    margin: 0;
    height: 100%;
}

.app-background-color {
    background-color: #f7f7f7;
}
.app-break-text {
    overflow-wrap: break-word;
}
.app-full-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.app-background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}