<div class="app-semi-mid-screen-spinner" fxLayout="column" fxLayoutAlign="center center" *ngIf="loadingImages">
  <p class="mat-h3 app-centered-text">Hold on.<br/>We are looking for a good thumbnail for<br/>{{tvShow.name}}</p>
  <mat-spinner class="app-semi-mid-screen-spinner"></mat-spinner>
</div>
<div *ngIf="!loadingImages">
  <div *ngIf="thumbnails.length == 0" fxLayout="column">
    <img class="app-img" src="{{tvShow.thumbnail}}"/>
    <div class="app-body-padding">
      <mat-card>
        <mat-card-content>
          I was not able to find a thumbnail for the show, so i've assigned a default one. You may want to change TV Show name, so i'll try again.
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/tv-show/{{tvShow.id}}">Okay</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="thumbnails.length > 0">
    <mat-list>
      <h3 mat-subheader>Pick a thumbnail for {{tvShow.name}}</h3>
      <app-clickable-image-grid [images]="thumbnails" (imageClick)="chooseThumbnail($event)"></app-clickable-image-grid>
    </mat-list>
  </div>
</div>
