<div fxLayout="row" fxLayoutAlign="center">
  <mat-list fxFlex="40%" fxFlex.xs="100%">
    <mat-list-item *ngFor="let torrent of torrents">
      <button *ngIf="allowRemoval" mat-icon-button (click)="remove(torrent)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
      <h5 mat-line class="app-margin-bottom">{{torrent.name}}</h5>
      <p mat-line fxLayout="row" fxLayoutAlign="space-between none" class="app-margin-bottom">
        <span>{{torrent.downloadSpeed}}</span>
        <span>{{torrent.size}}</span>
      </p>
      <p mat-line fxLayout="row" fxLayoutAlign="space-between none" class="app-margin-bottom">
        <span>Status: {{torrent.state}}</span>
        <span *ngIf="!torrent.complete">Time left: {{torrent.timeRemaining}}</span>
      </p>
      <mat-progress-bar mat-line mode="determinate" value="{{torrent.progress.substring(0, torrent.progress.length - 1)}}"></mat-progress-bar>
    </mat-list-item>
  </mat-list>
</div>
