@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
}

span {
  outline: none;
}

.app-action {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-body-padding {
  padding: 8px;
}

.app-margin-bottom {
  margin-bottom: 8px;
}

.app-nav-bar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.app-semi-mid-screen-spinner {
  margin-top: 70px;
}

.app-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-centered-text {
  text-align: center;
}

.app-full-screen-container{
  min-height:93vh;
  background-size:cover;
  background-position:center;
}
